body {
    background-color: #000000;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
hr {
    border-top: 1px solid #ffffff;
    height:3px;
    width:88%;
}
.ctrd {
    margin: 1% 20%;
    line-height: 1;
}
.hdr {
    text-align: center;
    margin-top: 165px;
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 55px;
    font-weight: 700;
}
.hdr-txt {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8em;
}
.prj-title {
    color: #ffffff;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}
.prj-srvc {
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
}
.prj-desc {
    color: #686868;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 2em;
}